.orderLine{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin: 10px;
  background-color:#ffff;
}
.orderList{
  display: flex;
 align-items: center;
 justify-content:space-between ;
 flex-wrap: wrap;
 gap: 30px;
}
.orderCard{
  border: 1px solid black;
  border-radius: 10px;
  width: 320px;
  
  display: flex;
  flex-direction: column;

  line-height: 10px;
  padding-bottom: 20px ;
 
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: #c2d4d9;
}

.orderInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  background-color: #ffff;
  padding: 5px 20px;

  margin: 10px 5px;
  border: 1px solid lightgray;
  border-radius: 20px;
  
}

.orderTime{
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 0px 5px ;
  
 
 
}
.orderItems{
width: 250px;
  border: 1px solid lightgray;
  border-radius: 20px;
  line-height: 20px;
 
  padding: 5px 20px;
   margin: 10px 5px;
  background-color:#ffff;
}

.orderStatus{
  border: 1px solid black;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 15px 30px ;
  background-color:#9baeb3;
  color: #3b413d;
 
}

