.itemCard{
    display: flex;
   align-items: center;
   justify-content: center;
    flex-wrap: wrap;
   gap: 20px;
   
   
}
.item{
    width: 150px;
  
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f0f5f3;
    cursor: pointer;
    text-align: left;
    
}
.itemCard img{
    width: 100%;
    height: 70%;
    object-fit: cover;
  
}


.itemDetails{
 font-size: 12px;
    padding: 0 10px;
    text-wrap: wrap;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    position: relative;

   
}



.addToCart{
    font-size: 10px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 45px;
    
   
}

.addToCart button{
    padding: 2px 7px;
    background-color: #f0f5f3;
    border-radius: 5px;
    border: none;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    
}

.counter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
    
    
   
}