.menu{
    position: relative;
}
button{
    width: 130px;
    padding: 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border-radius: 50px;
    border: none;
    background-color: #505050;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}